<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="/delta_dashboard/public/css/style.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/delta_dashboard/public/js/jquery-3.3.1.js"></script>
    <link type="text/css" rel="stylesheet" href="/delta_dashboard/public/css/materialize.css"
          media="screen,projection"/>

</head>

<!-- This block will take an input from NodeJS to see if we have a custom UID or not -->
<% if(typeof custom_uid !== "undefined") { %>
    <div id="custom-uid-div" custom-uid=<%= custom_uid %>></div>
<% } else { %>
    <div id="custom-uid-div" custom-uid=""></div>
<% } %>
<!------------------------------------------------------------------------------------------>

<ul id="user_dropdown" class="dropdown-content">
    <li><a href="/delta_dashboard/profile" id="settings_link">Settings</a></li>
    <li><a href="#" id="signOutButton">Sign Out</a></li>
</ul>
<ul id="archive_dropdown" class="dropdown-content">
    <li><a href="/delta_dashboard/history" id="archive_link">Inverter History</a></li>
    <li><a href="/delta_dashboard/charging_history" id="charging_history_link">Previous Charging Sessions</a></li>
</ul>

<nav>
    <!--<a class="brand-logo"><img class="responsive-img" id="logo" src="/delta_dashboard/public/img/delta_logo.png"></a>-->

    <div class="nav-wrapper blue lighten-2" id="nav-wrapper-div">
        <div id="logoImgWrapper" class="brand-logo left">
            <a class="brand-logo left"><img class="responsive-img" id="logo"
                                            src="/delta_dashboard/public/img/delta_logo.png"></a>
        </div>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/delta_dashboard" id="dashboard_link">Dashboard</a></li>
            <li><a class="archive_dropdown_trigger" href="#!" data-target="archive_dropdown">Archive</a>
            <li><a href="/delta_dashboard/hardware_info" id="hardware_info_link">Hardware Info</a></li>
            <li><a class="user_dropdown_trigger" href="#!" id="displayName" data-target="user_dropdown"></a>
            </li>
        </ul>

    </div>
</nav>

<script type="text/javascript" src="/delta_dashboard/public/js/materialize.min.js"></script>

<script src="/delta_dashboard/public/js/shared.js"></script>
<script src="/delta_dashboard/public/js/nav.js"></script>

</html>