<!DOCTYPE html>
<html lang="en-AU">

<head>
    <title>DSC Admin Dashboard</title>

    <link rel="stylesheet" type="text/css" href="/delta_dashboard/public/css/style.css">

    <script src="/delta_dashboard/public/js/jquery-3.3.1.js"></script>
    <script src="/delta_dashboard/public/js/moment.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-database.js"></script>
    <script src="/delta_dashboard/public/js/initialiseFirebase.js"></script>
</head>

<% include ../partials/nav.ejs %>

<body>
<div id="title_wrapper">
    <h1 class="center-align title_pushpin" id="title">Delta Solar Charger Admin Dashboard</h1>
</div>

<div class="preloader-wrapper big active" id="loading_id">
    <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>

<div id="master_row" class="row">
    <script type="application/javascript" src="/delta_dashboard/public/js/admin_dashboard.js"></script>

    <!-- ----------------------------------------- TOP ROW--------------------------------------------------------- -->
    <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1 hoverable top_row_card" id="card_test">
            <div class="slider blue-grey darken-1" id="solar_slider">
                <ul class="slides blue-grey darken-1">
                    <li>
                        <div class="card-content white-text">
                            <span class="card-title center-align">Solar Generated Today</span>
                            <h4 class="center-align" id="dctp_card"></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1 hoverable top_row_card">
            <div class="slider blue-grey darken-1" id="utility_slider">
                <ul class="slides blue-grey darken-1">
                    <li>
                        <div class="card-content white-text">
                            <span class="card-title center-align">Power Exported Today</span>
                            <h4 class="center-align" id="utility_p_export_card"></h4>
                        </div>
                    </li>
                    <li>
                        <div class="card-content white-text blue-grey darken-1">
                            <span class="card-title center-align">Power Imported Today</span>
                            <h4 class="center-align" id="utility_p_import_card"></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1 hoverable top_row_card">
            <div class="slider blue-grey darken-1" id="bt_slider">
                <ul class="slides blue-grey darken-1">
                    <li>
                        <div class="card-content white-text blue-grey darken-1">
                            <span class="card-title center-align">BT Consumed Today</span>
                            <h4 class="center-align" id="bt_consumed_card">Hello there!</h4>
                        </div>
                    </li>
                    <li>
                        <div class="card-content white-text blue-grey darken-1">
                            <span class="card-title center-align">BT Charged Today</span>
                            <h4 class="center-align" id="bt_charged_card">Hello there!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1 hoverable top_row_card">
            <div class="card-content white-text blue-grey darken-1">
                <span class="card-title center-align">Energy Consumed Today</span>
                <h4 class="center-align" id="energy_consumed_card">Hello there!</h4>
            </div>

        </div>
    </div>

    <!------------------------------------------- TOP ROW----------------------------------------------------------->
</div>

<div class="row" id="system_row"></div>

<script type="text/javascript" src="/delta_dashboard/public/js/materialize.min.js"></script>

</body>

</html>