<!DOCTYPE html>
<html lang="en">

<head>
    <title>Delta Solar Charger Charging History</title>

    <link rel="stylesheet" type="text/css" href="/delta_dashboard/public/css/style.css">

    <script type="text/javascript" src="/delta_dashboard/public/js/materialize.min.js"></script>
    <script src="/delta_dashboard/public/js/moment.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-database.js"></script>
    <script src="/delta_dashboard/public/js/initialiseFirebase.js"></script>

    <script src="/delta_dashboard/public/bower_components/chart.js/dist/Chart.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/delta_dashboard/public/js/hammer.min.js"></script>

    <script src="/delta_dashboard/public/bower_components/chartjs-plugin-zoom/chartjs-plugin-zoom.js"></script>

</head>

<% include ../partials/nav.ejs %>

<body>

<h1 class="center-align">Charging History</h1>

<div class="col s12" id="preloader">
    <div class="preloader-wrapper big active" id="loading_id">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="master_row">
    <div class="col s2 push-l5 pull-l5">
        <div class="input-field">
            <input id="date_input" type="text" class="datepicker">
            <label for="date_input">Select a Date</label>
        </div>
    </div>

</div>
<div class="row" id="charge_sessions_row">
</div>

<script src="/delta_dashboard/public/js/jquery-3.3.1.js"></script>

<script type="application/javascript" src="/delta_dashboard/public/js/charging_history2.js"></script>


</body>

</html>