<!DOCTYPE html>
<html lang="en">

<head>
    <title>Delta Solar Charger System History</title>

    <link rel="stylesheet" type="text/css" href="/delta_dashboard/public/css/style.css">

    <script src="/delta_dashboard/public/js/jquery-3.3.1.js"></script>
    <script src="/delta_dashboard/public/js/moment.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-database.js"></script>
    <script src="/delta_dashboard/public/js/initialiseFirebase.js"></script>

    <script src="/delta_dashboard/public/js/hammer.min.js"></script>
    <script src="/delta_dashboard/public/bower_components/chart.js/dist/Chart.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/delta_dashboard/public/bower_components/chartjs-plugin-zoom/chartjs-plugin-zoom.js"></script>

</head>

<% include ../partials/nav.ejs %>

<body>
<div class="container">
    <h1 class="center-align">Archive</h1>

    <div id="master_row">

        <div class="divider"></div>

        <div class="row">
            <div class="col s2 push-l5 pull-l5">

                <div class="input-field">
                    <input id="date_input" type="text" class="datepicker">
                    <label for="date_input">Select a Date</label>
                </div>

            </div>

            <div class="col s12" id="preloader">
                <div class="preloader-wrapper big active" id="loading_id">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12" id="chart_tabs">
                    <ul class="tabs center-align">
                        <li class="tab col s4">
                            <a href="#history_chart_tab" class="active">Line Chart</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#sankey_tab">Sankey Diagram</a>
                        </li>
                        <li class="tab col s4">
                            <a href="#download_tab">Download Day's Data</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="history_chart_tab">
        <div class="col s12">
            <canvas id="history_chart" width="400" height="200"></canvas>
        </div>
        <div class="row" id="reset_zoom_button_div">
            <p class="center-align">
                <a class="waves-effect waves-light btn " id="reset_zoom_button">Reset Zoom</a>
            </p>
        </div>
    </div>
    <div class="row" id="sankey_tab">
        <div class="col s12">
            <div id="sankey_basic"></div>
        </div>
    </div>
    <div class="row" id="download_tab">
        <div class="col s6 offset-s3" id="data_request_button_div">
            <p class="center-align">
                <a class="waves-effect waves-light btn" id="data_request_button">Download This Day's Data</a>
            </p>
        </div>
    </div>

</div>
<script type="text/javascript" src="/delta_dashboard/public/js/materialize.min.js"></script>
<script type="application/javascript" src="/delta_dashboard/public/js/archive.js"></script>


</body>

</html>