<!DOCTYPE html>
<html lang="en">

<head>
    <title>Delta Solar Charging Station</title>

    <link rel="stylesheet" type="text/css" href="/delta_dashboard/public/css/style.css">

    <script src="/delta_dashboard/public/js/jquery-3.3.1.js"></script>
    <script src="/delta_dashboard/public/js/moment.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-database.js"></script>
    <script src="/delta_dashboard/public/js/initialiseFirebase.js"></script>

    <script src="/delta_dashboard/public/bower_components/chart.js/dist/Chart.min.js"></script>


</head>

<% include ../partials/nav.ejs %>

<body>
<div id="title_wrapper">
    <h1 class="center-align title_pushpin" id="title">Delta Solar Charging Station</h1>
</div>

<div class="preloader-wrapper big active" id="loading_id">
    <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
            <div class="circle"></div>
        </div>
        <div class="gap-patch">
            <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
            <div class="circle"></div>
        </div>
    </div>
</div>

<div id="index2_master_row" class="row">


    <script type="application/javascript" src="/delta_dashboard/public/js/index2.js"></script>

    <!-- ----------------------------------------- TOP ROW--------------------------------------------------------- -->
    <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1 hoverable top_row_card">
            <div class="slider blue-grey darken-1" id="solar_slider">
                <ul class="slides blue-grey darken-1">
                    <li>
                        <div class="card-content white-text">
                            <span class="card-title center-align">Solar Generated Today</span>
                            <h4 class="center-align" id="dctp_card"></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1 hoverable top_row_card">
            <div class="slider blue-grey darken-1" id="utility_slider">
                <ul class="slides blue-grey darken-1">
                    <li>
                        <div class="card-content white-text">
                            <span class="card-title center-align">Power Exported Today</span>
                            <h4 class="center-align" id="utility_p_export_card"></h4>
                        </div>
                    </li>
                    <li>
                        <div class="card-content white-text blue-grey darken-1">
                            <span class="card-title center-align">Power Imported Today</span>
                            <h4 class="center-align" id="utility_p_import_card"></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1 hoverable top_row_card">
            <div class="slider blue-grey darken-1" id="bt_slider">
                <ul class="slides blue-grey darken-1">
                    <li>
                        <div class="card-content white-text">
                            <span class="card-title center-align">Battery SOC</span>
                            <h4 class="center-align" id="btsoc_card"></h4>
                        </div>
                    </li>
                    <li>
                        <div class="card-content white-text blue-grey darken-1">
                            <span class="card-title center-align">BT Consumed Today</span>
                            <h4 class="center-align" id="bt_consumed_card">Hello there!</h4>
                        </div>
                    </li>
                    <li>
                        <div class="card-content white-text blue-grey darken-1">
                            <span class="card-title center-align">BT Charged Today</span>
                            <h4 class="center-align" id="bt_charged_card">Hello there!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card blue-grey darken-1 hoverable top_row_card">
            <div class="card-content white-text">
                <span class="card-title center-align">Weather</span>
                <h4 class="center-align" id="weather_card"></h4>
            </div>
        </div>
    </div>
    <!------------------------------------------- TOP ROW----------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------- SECOND ROW-------------------------------------------------------->
    <div class="col s12 m6 l4">
        <div class="card blue-grey darken-1 hoverable second_row_card">
            <div class="slider blue-grey darken-1" id="solar_history_slider">
                <ul class="slides blue-grey darken-1">
                    <li>
                        <div class="card-content white-text">
                            <span class="card-title center-align">Solar Generation History</span>
                            <div class="without_carousel_chart">
                                <canvas id="solar_history_bar"></canvas>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card blue-grey darken-1 hoverable second_row_card">

            <div class="slider blue-grey darken-1" id="charger_info_slider">
                <ul class="slides blue-grey darken-1">
                    <li>
                        <div class="card-content white-text">
                            <span class="card-title center-align">Charger Status</span>
                            <div class="with_carousel_chart">
                                <canvas id="charger_status_pie"></canvas>
                            </div>
                            <div class="right-align">
                                <div class="waves-effect waves-light btn" id="more_info_button">More
                                    Info...
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card-content white-text">
                            <span class="card-title center-align">Latest Charging Session</span>
                            <table>
                                <tbody id="last_charging_table"></tbody>
                            </table>
                        </div>

                    </li>
                </ul>
            </div>


        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card blue-grey darken-1 hoverable second_row_card">
            <div class="slider blue-grey darken-1" id="charging_analytics_slider">
                <ul class="slides blue-grey darken-1">
                    <li>
                        <div class="card-content white-text">
                            <span class="card-title center-align">Daily Charger Breakdown</span>
                            <div class="without_carousel_chart">
                                <canvas id="daily_charging_breakdown_bar"></canvas>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!------------------------------------------- SECOND ROW-------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------->

    <!-------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------- FOURTH ROW-------------------------------------------------------->
    <div class="col s12 m12 l12">
        <div class="card green lighten-2 z-depth-2 hoverable">
            <div class="card-content green lighten-1">
                    <span class="card-title activator grey-text text-darken-4 center-align"
                          id="ev_charging_chart_title">
                    </span>
            </div>

            <div class="card-image">
                <div id="ev_charging_chart_div">
                    <canvas id="ev_charging_chart"></canvas>
                </div>
            </div>

        </div>
    </div>
    <!------------------------------------------- FOURTH ROW--------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------- THIRD ROW--------------------------------------------------------->
    <div class="col s12 m4 l4">
        <div class="card amber lighten-3 z-depth-2 hoverable">
            <div class="card-content amber lighten-2">
                    <span class="card-title activator black-text text-darken-4 center-align">
                        Solar Power
                        <i class="material-icons right">more_vert</i>
                    </span>
            </div>
            <div class="card-image">
                <canvas id="dcp" width="400" height="200"></canvas>
            </div>

            <div class="card-reveal amber lighten-3 hoverable">
                    <span class="card-title black-text text-darken-4 center-align" id="dc_title">Solar Power
                        <i class="material-icons right">close</i>
                    </span>
                <table class="">
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Value</th>
                    </tr>
                    </thead>

                    <tbody id="dcp_reveal_table"></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col s12 m4 l4">
        <div class="card cyan lighten-3 z-depth-2 hoverable">
            <div class="card-content cyan lighten-2">
                    <span class="card-title activator black-text text-darken-4 center-align">
                        Grid Export/Import
                        <i class="material-icons right">more_vert</i>
                    </span>
            </div>
            <div class="card-image">
                <canvas id="utility_chart" width="400" height="200"></canvas>
            </div>
            <div class="card-reveal cyan lighten-3">
                    <span class="card-title black-text text-darken-4 center-align" id="utility_title">Grid
                        Export/Import
                        <i class="material-icons right">close</i>
                    </span>
                <table class="">
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Value</th>
                    </tr>
                    </thead>

                    <tbody id="utility_reveal_table"></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col s12 m4 l4">
        <div class="card green lighten-3 z-depth-2 hoverable">
            <div class="card-content green lighten-2">
                    <span class="card-title activator black-text text-darken-4 center-align">
                        Battery Power
                        <i class="material-icons right">more_vert</i>
                    </span>
            </div>
            <div class="card-image">
                <canvas id="btp_chart" width="400" height="200"></canvas>
            </div>

            <div class="card-reveal green lighten-3">
                    <span class="card-title black-text text-darken-4 center-align" id="btp_title">Battery Power
                        <i class="material-icons right">close</i>
                    </span>
                <table class="">
                    <thead>
                    <tr>
                        <th>Description</th>
                        <th>Value</th>
                    </tr>
                    </thead>

                    <tbody id="btp_reveal_table"></tbody>
                </table>
            </div>
        </div>
    </div>
    <!------------------------------------------- THIRD ROW--------------------------------------------------------->
</div>

<script type="text/javascript" src="/delta_dashboard/public/js/materialize.min.js"></script>

</body>

</html>