<!DOCTYPE html>
<html>

<head>
    <style>
        #preloader_wrapper_wrapper {
            /*position: absolute;*/
            /*top: 0;*/
            /*left: 0;*/
            /*right: 0;*/
            /*bottom: 0;*/
            /*margin: auto;*/
            width: 100%;
            display: flex;
        }

        #loading_id {
            margin: auto;
            text-align: center;
        }

        /* #map {
            height: 100%;
        } */
    </style>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="../delta_dashboard/public/js/jquery-3.3.1.js"></script>
    <script src="../delta_dashboard/public/js/moment.js"></script>

    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-app.js"></script>

    <!-- Add additional services that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase-database.js"></script>

    <script>
        // Initialize Firebase
        let config = {
            apiKey: "AIzaSyCaxTOBofd7qrnbas5gGsZcuvy_zNSi_ik",
            authDomain: "smart-charging-app.firebaseapp.com",
            databaseURL: "https://smart-charging-app.firebaseio.com",
            projectId: "smart-charging-app",
            storageBucket: "",
            messagingSenderId: "896921007938"
        };
        firebase.initializeApp(config);
    </script>
</head>

<% include ../partials/nav.ejs %>

<body>
<h1 class="center-align">User Preferences</h1>

<div id="master_row" class="row">
    <div class="container">
        <ul class="collapsible" id="main_collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">person</i>User Settings</div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <div class="card blue-grey darken-1 hoverable" style="height: 300px">
                                <div class="card-content white-text">
                                    <span class="card-title center-align">Change Display Name</span>
                                    <h6>Your current display name is: </h6>

                                    <br>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input placeholder="John Smith" id="name" type="text" class="validate">
                                            <label for="name">Type a new display name</label>
                                        </div>
                                    </div>
                                    <div class="right-align">
                                        <div class="waves-effect waves-light btn" id="change_display_name_button"><span>Change</span><i
                                                    class="material-icons">keyboard_arrow_right</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6 l6">
                            <div class="card blue-grey darken-1 hoverable" style="height: 300px">
                                <div class="card-content white-text">
                                    <span class="card-title center-align">Change Password</span>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="old_pw" type="password" class="validate">
                                            <label for="old_pw">Please enter your old password</label>
                                        </div>
                                        <!--</div>-->
                                        <!--<div class="row">-->
                                        <div class="input-field col s12">
                                            <input id="new_pw" type="password" class="validate">
                                            <label for="new_pw">Please enter a new password</label>
                                        </div>
                                    </div>

                                    <div class="right-align">
                                        <div class="waves-effect waves-light btn" id="change_pw_button"
                                             onclick="change_pw_button_pressed()">
                                            <span>Change</span><i class="material-icons">keyboard_arrow_right</i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="collapsible-header"><i class="material-icons">battery_charging_full</i>Charging
                    Settings
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <div class="card blue-grey darken-1 hoverable" style="height: 250px">
                                <div class="card-content white-text">
                                    <span class="card-title center-align">Charging Mode</span>
                                    <p class="center-align">Your current charging mode is</p>
                                    <div class="input-field white-text center-align">
                                        <select id="chargemode_select" class="center-align">
                                            <option value="" disabled selected>Choose your option</option>
                                            <option value="PV_with_BT">Standalone: PV with Battery Backup</option>
                                            <option value="MAX_CHARGE_STANDALONE">Standalone: Maximise EV Charge
                                                Rate
                                            </option>
                                            <option value="PV_no_BT">BETA: PV Standalone without BT</option>
                                            <option value="MAX_CHARGE_GRID">Grid Connected: Maximise EV Charge Rate
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6 l6">
                            <div class="card blue-grey darken-1 hoverable second_row_card" style="height: 250px">
                                <div class="card-content white-text">
                                    <span class="card-title center-align">Battery Buffering Usage</span>
                                    <p class="center-align">How aggressive should we be in using the battery. The
                                        more
                                        aggressive, the
                                        more
                                        the battery
                                        will be used in standalone modes</p>
                                    <div class="input-field white-text center-align">
                                        <select id="battery_buffer_select" class="center-align">
                                            <option value="" disabled selected>Choose your option</option>
                                            <option value="Aggressive">Aggressive</option>
                                            <option value="Balanced">Balanced</option>
                                            <option value="Conservative">Conservative</option>
                                            <option value="Ultra Conservative">Ultra Conservative</option>
                                        </select>
                                    </div>
                                    <p class="center-align"><strong>Note: This mode will only work during
                                            Standalone: PV
                                            with Battery
                                            Backup
                                            mode</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l6">
                            <div class="card blue-grey darken-1 hoverable" style="height: 250px">
                                <div class="card-content white-text">
                                    <span class="card-title center-align">Authentication Requirements</span>
                                    <p class="center-align">Will the solar charger require RFID card authentication?</p>
                                    <div class="input-field white-text center-align">
                                        <select id="authentication_select" class="center-align">
                                            <option value="" disabled selected>Choose your option</option>
                                            <option value="true">RFID Swipe Required</option>
                                            <option value="false">RFID Swipe not Required</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li id="map_collapsible">
                <div class="collapsible-header"><i class="material-icons">map</i>Set System Location</div>
                <div class="collapsible-body">
                    <div id="map" style="height:450px;"></div>
                </div>
            </li>
        </ul>


    </div>
</div>
<script type="text/javascript" src="../delta_dashboard/public/js/materialize.min.js"></script>
<script type="application/javascript" src="../delta_dashboard/public/js/profile.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDua0AtpkUdGyeS5W5sJ4bjdgMThSAzYFs"></script>

</body>

</html>